
html {
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
	background-color: white;
	color:#282828;
}


#signup-form {
    font-family: "Open Sans", Arial, sans-serif;
    padding: 1em;
    letter-spacing: 0.05em;
		align:center;
		text-align: center;
}

#login-form {
    font-family: "Open Sans", Arial, sans-serif;
    padding: 1em;
    letter-spacing: 0.05em;
		align:center;
		text-align: center;
}
